body {
	color: #474747;
	background: #f2f2f2;
}

header h2
{
	margin-top:0em;
}

.footer {
	background: #111;
	color: #999;
	text-align: center;
	padding: 1em;
	font-size: 80%;
}

.l-box {
	padding: 1em 1em;
}

.pure-menu-link {
	padding: 0.5em 0.5em;
}

.nav {
	background: #e5e5e5;
	height: 2.1em;
	overflow: hidden;
	transition: height 0.5s;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
}

.nav.open {
	height: 13em;
}

.custom-toggle {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.custom-toggle .bar {
	background-color: #777;
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: 20px;
	right: 7px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.custom-toggle .bar:first-child {
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
}

.custom-toggle .bar:nth-child(2) {
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
}

.custom-toggle.x .bar {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
	.custom-toggle {
		display: block;
	}
}
