<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body>
		{{- partial "header.html" . -}}
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-2-3">
				<div class="l-box">
					<div id="content">
						{{- block "main" . }}{{- end }}
					</div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="l-box">
					<div id="sidebar">
						{{- block "sidepanel" . }}{{- end }}
					</div>
				</div>
			</div>
			<div class="pure-u-1">
				{{- partial "footer.html" . -}}
			</div>
		</div>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>
