<div class="nav pure-g" id="menu">
	<div class="pure-u-1 pure-u-md-1-3">
		<div class="pure-menu">
			<a href="{{.Site.BaseURL}}" class="pure-menu-heading">
				{{- .Site.Title -}}
			</a>
			<a href="#" class="custom-toggle" id="toggle">
				<s class="bar"></s>
				<s class="bar"></s>
				<s class="bar"></s>
			</a>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-2-3">
		<div class="pure-menu pure-menu-horizontal can-transform">
			<ul class="pure-menu-list">
				{{ range .Site.Menus.main }}
				<li class="pure-menu-item">
					<a href="{{ .URL }}" title="{{ .Title }}" class="pure-menu-link">
						{{- .Name -}}
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</div>

